<h1 mat-dialog-title>Error al procesar el problema de PVI</h1>
<div mat-dialog-content>
    <div class="row">
        <div class="col-md-3 col-sm-3">
            <img class="img-fluid" src="assets/images/ErrorIcon.png" />
        </div>
        <div class="col-md-9 col-sm-9">
            <p>{{data.Mensaje}}</p>
        </div>
    </div>
</div>
