<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.11.0/katex.min.css">
<div class="container">
  <div class="row">
    <img class="img-fluid" src="assets/images/cabecera.png" />
  </div>
  
  <div class="row">
    <div class="col-sm col-md">
      <H1>
        Comparación y resolución de Problemas de PVI usando Taylor vs los demás Métodos Numéricos de un paso y multipaso
      </H1>
      <hr>
    </div>
  </div>

  <form [formGroup]="frmControles">
    <div class="row">
      <div class="col-sm-9 col-md-9">
        <div class="row">
          <div class="col-sm-12 col-md-12">
            <mat-form-field class="w-100" appearance="fill" >
              <mat-label>Representación de la ecuación diferencial</mat-label>
              <input  matInput
                      type="text" 
                      formControlName="ecuacion"
                      placeholder="Ingrese en esta sección la ecuación diferencial" 
                      required >
              <mat-icon matSuffix>edit</mat-icon>
              <mat-error *ngIf="frmControles.controls['ecuacion'].hasError('required')">Debe ingresar una ecuación</mat-error>
            </mat-form-field>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-3 col-md-3">
            <section>
              <mat-checkbox formControlName="usaSolex" (change)="activaSolex()">Tiene solución exacta</mat-checkbox>
            </section>
          </div>
          <div class="col-sm-9 col-md-9">
            <mat-form-field class="w-100" appearance="fill" >
              <mat-label>Representación de la solución exacta</mat-label>
              <input  matInput  
                      type="text" 
                      formControlName="solex"
                      placeholder="Ingrese en esta sección la solución exacta">
              <mat-icon matSuffix>edit</mat-icon>
              <mat-error *ngIf="frmControles.controls['solex'].hasError('required')">Debe ingresar una ecuación</mat-error>
            </mat-form-field>
          </div>
        </div>

        <div class="row" *ngIf="muestraDerivadas">
          <div class="w-100 col-sm-12 col-md-12">
            <mat-form-field class="w-100" appearance="fill" >
              <mat-label>Representación de las derivadas parciales de la ecuación diferencial</mat-label>
              <input  matInput
                      type="text" 
                      formControlName="derivadas"
                      placeholder="Ingrese en esta sección las derivadas parciales de la ecuación diferencial"  
              >
              <mat-icon matSuffix>edit</mat-icon>
              <mat-error *ngIf="frmControles.controls['derivadas'].hasError('required')">Debe ingresar una ecuación</mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="w-100 col-sm-12 col-md-12">
            <section>
              La ecuación diferencial a ingresar debe ser escrita respetando los siguientes criterios:
              <ul>
                <li>Los exponentes se representarán con (**), ejemplo: x**2 = x^2</li>
                <li>La constante &pi; se representará como math.pi</li>
                <li>Si va a representar un sistem a de ecuaciones, éstas deberán estar separadas por comas, Ejemplo: y, 9.8*sin(x)</li>
                <li>En caso de usar únicamente un número, acompañe este de un equivalente que use las variables a evaluar, ejemplo: 1, x => se representa como 1+0*x, x</li>
                <li>Para separar los arreglos en la definición de la derivada use (;), Ejemplo: [0*x, 1+0*x];[9.8*cos(x), 0*x]</li>
                <li>En caso de usar solución exacta ésta debe representarse de forma similar a la siguiente 0.05*exp(x) + 0.05*exp(-x)</li>
              </ul>
            </section>
          </div>
        </div>
        <div class="row">
          <div class="w-50 col-sm-6 col-md-6">
            <mat-card>
              <mat-card-header>
                <mat-card-title>Intervalo</mat-card-title>
              </mat-card-header>
              <mat-card-content>
                <div class="row">
                  <div class="w-50">
                    <mat-form-field class="w-100" appearance="fill" >
                      <mat-label>Valor inicial del intervalo</mat-label>
                      <input  matInput
                      type="number" 
                      formControlName="inicial"
                      placeholder="Ingrese en el valor inicial" 
                      required >
                      <mat-icon matSuffix>edit</mat-icon>
                      <mat-error *ngIf="frmControles.controls['inicial'].hasError('required')">Debe ingresar un valor</mat-error>
                      <mat-error *ngIf="frmControles.controls['inicial'].hasError('notValid')">Debe ser menor al valor final</mat-error>
                    </mat-form-field>
                  </div>
                  <div class="w-50">
                    <mat-form-field class="w-100" appearance="fill" >
                      <mat-label>Valor final del intervalo</mat-label>
                      <input  matInput
                      type="number" 
                      formControlName="final"
                      placeholder="Ingrese en el valor final" 
                      required >
                      <mat-icon matSuffix>edit</mat-icon>
                      <mat-error *ngIf="frmControles.controls['final'].hasError('required')">Debe ingresar un valor</mat-error>
                      <mat-error *ngIf="frmControles.controls['final'].hasError('notValid')">Debe ser mayor al valor inicial</mat-error>
                    </mat-form-field>
                  </div>
                </div>
                <div class="row">
                  <div class="w-50 col-sm-6 col-md-6">
                    <mat-form-field class="w-100" appearance="fill" >
                      <mat-label>Cantidad de divisiones</mat-label>
                      <input  matInput
                              type="number" 
                              formControlName="divisiones"
                              placeholder="Ingrese la cantidad de divisiones" 
                              required >
                      <mat-icon matSuffix>edit</mat-icon>
                      <mat-error *ngIf="frmControles.controls['divisiones'].hasError('required')">Debe ingresar un valor</mat-error>
                      <mat-error *ngIf="frmControles.controls['divisiones'].hasError('min')">El valor debe ser mínimo 5</mat-error>
                    </mat-form-field>
                  </div>
                </div>
              </mat-card-content>
            </mat-card>
          </div>
          <div class="w-50  col-sm-6 col-md-6">
            <mat-card>
              <mat-card-header>
                <mat-card-title>Valores Iniciales</mat-card-title>
              </mat-card-header>
              <mat-card-content>
                <div class="row">
                  <div class="w-100">
                    <mat-form-field class="w-100" appearance="fill" >
                      <mat-label>Valor(es) inicial(es) a evaluar</mat-label>
                      <input  matInput
                      type="text" 
                      formControlName="valoresIniciales"
                      placeholder="Ingrese el(los) valor(es) inicial(es)" 
                      required >
                      <mat-icon matSuffix>edit</mat-icon>
                      <mat-error *ngIf="frmControles.controls['valoresIniciales'].hasError('required')">Debe ingresar un valor</mat-error>
                    </mat-form-field>
                    
                  </div>
                </div> 
              </mat-card-content>
            </mat-card>
            
          </div>
        </div>
        <br>
        <div class="row">
          <div class="w-100 col-sm-12 col-md-12">
            <button mat-flat-button color="primary" [disabled]="frmControles.invalid||metodoSeleccionado==false" (click)="ejecutar($event)"><mat-icon>play_arrow</mat-icon> Ejecutar</button>
          &nbsp;&nbsp;
          <button mat-flat-button color="accent" (click)="cancelar($event)"><mat-icon>cancel</mat-icon> Cancelar</button>
          </div>
        </div>
      </div>
      <div class="col-sm-3 col-md-3">
        <mat-card>
          <mat-card-header>
            <mat-card-title>
              Métodos Numéricos
            </mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <section>
              <mat-checkbox formControlName="todos" (change)="seleccionaTodos()">--Seleccionar Todos--</mat-checkbox>
            </section>
            <hr>
            <section>
              <mat-checkbox formControlName="heyoka" (change)="validaSeleccion()">Taylor (Heyoka)</mat-checkbox>
            </section>

            <hr>

            <section>
              <mat-checkbox formControlName="euler" (change)="validaSeleccion()">Euler</mat-checkbox>
            </section>
            <section>
              <mat-checkbox formControlName="heun" (change)="validaSeleccion()">Heun</mat-checkbox>
            </section>
            <section>
              <mat-checkbox formControlName="ralston" (change)="validaSeleccion()">Ralston</mat-checkbox>
            </section>
            <section>
              <mat-checkbox formControlName="rungekutta" (change)="validaSeleccion()">Runge-Kutta</mat-checkbox>
            </section>
            <section>
              <mat-checkbox formControlName="rkbutcher" (change)="validaSeleccion()">Runge-Kutta Butcher</mat-checkbox>
            </section>
            
            <hr>
            
            <section>
              <mat-checkbox formControlName="adamsbashford" (change)="validaSeleccion()">Adams Bashford</mat-checkbox>
            </section>
            <section>
              <mat-checkbox formControlName="adamsmoulton" (change)="usaDerivadas($event); validaSeleccion()">Adams-Moulton</mat-checkbox>
            </section>
            <section>
              <mat-checkbox formControlName="abmoulton" (change)="validaSeleccion()">Adams Bashford-Moulton</mat-checkbox>
            </section>
            <mat-error *ngIf="frmControles.hasError('MethodNoSelect')||metodoSeleccionado == false">Debe seleccionar por lo menos un Método Numérico</mat-error>
          </mat-card-content>

        </mat-card>
      </div>
    </div>
    
  </form>

  <br>
  <div class="row">
    <div class="w-100 col-sm-12 col-md-12">
      <mat-tab-group>
        <mat-tab label="Resultados" >
          <div class="row" style="height: 175px;">
            <img class="img-fluid" src="assets/images/resultados.png" />
          </div>
          <div class="row" class="matTabContent">
            <table mat-table [dataSource]="dtTableModel" class="w-100">
              <ng-container matColumnDef="X">
                <th mat-header-cell *matHeaderCellDef>X</th>
                <td mat-cell *matCellDef="let element">{{element.X | number}}</td>
              </ng-container>

              <ng-container matColumnDef="Solex">
                <th mat-header-cell *matHeaderCellDef>Y (Solex)</th>
                <td mat-cell *matCellDef="let element">{{element.Solex | number : '0.1-8'}}</td>
              </ng-container>
    
              <ng-container matColumnDef="Euler">
                <th mat-header-cell *matHeaderCellDef>Y (Euler)</th>
                <td mat-cell *matCellDef="let element">{{element.Euler | number : '0.1-8'}}</td>
              </ng-container>
    
              <ng-container matColumnDef="Heun">
                <th mat-header-cell *matHeaderCellDef>Y (Heun)</th>
                <td mat-cell *matCellDef="let element">{{element.Heun | number : '0.1-8'}}</td>
              </ng-container>
    
              <ng-container matColumnDef="Ralston">
                <th mat-header-cell *matHeaderCellDef>Y (Ralston)</th>
                <td mat-cell *matCellDef="let element">{{element.Ralston | number : '0.1-8'}}</td>
              </ng-container>
    
              <ng-container matColumnDef="RungeKutta">
                <th mat-header-cell *matHeaderCellDef>Y (Runge-Kutta)</th>
                <td mat-cell *matCellDef="let element">{{element.RungeKutta | number : '0.1-8'}}</td>
              </ng-container>

              <ng-container matColumnDef="RKButcher">
                <th mat-header-cell *matHeaderCellDef>Y (RK Butcher)</th>
                <td mat-cell *matCellDef="let element">{{element.RKButcher | number : '0.1-8'}}</td>
              </ng-container>
    
              <ng-container matColumnDef="AdamBashford">
                <th mat-header-cell *matHeaderCellDef>Y (Adams/Bashford)</th>
                <td mat-cell *matCellDef="let element">{{element.AdamBashford | number : '0.1-8'}}</td>
              </ng-container>
    
              <ng-container matColumnDef="AdamMoulton">
                <th mat-header-cell *matHeaderCellDef>Y (Adams/Moulton)</th>
                <td mat-cell *matCellDef="let element">{{element.AdamMoulton | number : '0.1-8'}}</td>
              </ng-container>

              <ng-container matColumnDef="AdamBashfordMoulton">
                <th mat-header-cell *matHeaderCellDef>Y (ABMoulton)</th>
                <td mat-cell *matCellDef="let element">{{element.AdamBashfordMoulton | number : '0.1-8'}}</td>
              </ng-container>
    
              <ng-container matColumnDef="Heyoka">
                <th mat-header-cell *matHeaderCellDef>Y (Heyoka)</th>
                <td mat-cell *matCellDef="let element">{{element.Heyoka | number : '0.1-8'}}</td>
              </ng-container>
    
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
  
            <mat-paginator #paginator 
                          [pageSizeOptions]="[5, 10, 20, 50]"
                          [pageSize] = "10"
                          showFirstLastButtons 
                          aria-label="Select page of periodic elements">
            </mat-paginator>
          </div>
          
          
        </mat-tab>
        <mat-tab label="Tiempo de Procesamiento">
          <div class="row" style="height: 175px;">
            <img class="img-fluid" src="assets/images/procesador.png" />
          </div>
          <div class="row" class="matTabContent">
            <table mat-table [dataSource]="dtTiempos" class="w-100">
              <ng-container matColumnDef="Euler">
                <th mat-header-cell *matHeaderCellDef>Euler</th>
                <td mat-cell *matCellDef="let element">{{element.Euler | number : '0.1-8'}}</td>
              </ng-container>
  
              <ng-container matColumnDef="Heun">
                <th mat-header-cell *matHeaderCellDef>Heun</th>
                <td mat-cell *matCellDef="let element">{{element.Heun | number : '0.1-8'}}</td>
              </ng-container>
  
              <ng-container matColumnDef="Ralston">
                <th mat-header-cell *matHeaderCellDef>Ralston</th>
                <td mat-cell *matCellDef="let element">{{element.Ralston | number : '0.1-8'}}</td>
              </ng-container>
  
              <ng-container matColumnDef="RungeKutta">
                <th mat-header-cell *matHeaderCellDef>RungeKutta</th>
                <td mat-cell *matCellDef="let element">{{element.RungeKutta | number : '0.1-8'}}</td>
              </ng-container>

              <ng-container matColumnDef="RKButcher">
                <th mat-header-cell *matHeaderCellDef>RK Butcher</th>
                <td mat-cell *matCellDef="let element">{{element.RKButcher | number : '0.1-8'}}</td>
              </ng-container>
  
              <ng-container matColumnDef="AdamBashford">
                <th mat-header-cell *matHeaderCellDef>AdamBashford</th>
                <td mat-cell *matCellDef="let element">{{element.AdamBashford | number : '0.1-8'}}</td>
              </ng-container>
  
              <ng-container matColumnDef="AdamMoulton">
                <th mat-header-cell *matHeaderCellDef>AdamMoulton</th>
                <td mat-cell *matCellDef="let element">{{element.AdamMoulton | number : '0.1-8'}}</td>
              </ng-container>

              <ng-container matColumnDef="AdamBashfordMoulton">
                <th mat-header-cell *matHeaderCellDef>AB-Moulton</th>
                <td mat-cell *matCellDef="let element">{{element.AdamBashfordMoulton | number : '0.1-8'}}</td>
              </ng-container>
  
              <ng-container matColumnDef="Heyoka">
                <th mat-header-cell *matHeaderCellDef>Heyoka</th>
                <td mat-cell *matCellDef="let element">{{element.Heyoka | number : '0.1-8'}}</td>
              </ng-container>
    
              <tr mat-header-row *matHeaderRowDef="displayedColumnsTiempo"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumnsTiempo;"></tr>
            </table>
            <br>
            <canvas 
              baseChart #chartTiempo width="550px" height="250px"
              [datasets]="dataSeriesTiempo"
              [labels]="tiempoChartLabels"
              [options]="barChartOptions"
              [legend]="barChartLegend" 
              [chartType]="barChartType">
            </canvas>
          </div>
          
        </mat-tab>
        <mat-tab label="Orden/Error Relativo" class="matTabContent">
          <div class="row" style="height: 175px;">
            <img class="img-fluid" src="assets/images/calculoerror.png" />
          </div>
          <div class="row" class="matTabContent">
            <br>
            <h2>Tabla de Error Relativo : <ng-katex [equation]="equation[0]" [options]="options"></ng-katex></h2>
            <table mat-table [dataSource]="dtError" class="w-100">
              <ng-container matColumnDef="N">
                <th mat-header-cell *matHeaderCellDef>N</th>
                <td mat-cell *matCellDef="let element">{{element.N}}</td>
              </ng-container>

              <ng-container matColumnDef="Euler">
                <th mat-header-cell *matHeaderCellDef>Euler</th>
                <td mat-cell *matCellDef="let element">{{element.Euler | number : '0.1-8'}}</td>
              </ng-container>

              <ng-container matColumnDef="Heun">
                <th mat-header-cell *matHeaderCellDef>Heun</th>
                <td mat-cell *matCellDef="let element">{{element.Heun | number : '0.1-8'}}</td>
              </ng-container>

              <ng-container matColumnDef="Ralston">
                <th mat-header-cell *matHeaderCellDef>Ralston</th>
                <td mat-cell *matCellDef="let element">{{element.Ralston | number : '0.1-8'}}</td>
              </ng-container>

              <ng-container matColumnDef="RungeKutta">
                <th mat-header-cell *matHeaderCellDef>Runge Kutta</th>
                <td mat-cell *matCellDef="let element">{{element.RungeKutta | number : '0.1-8'}}</td>
              </ng-container>

              <ng-container matColumnDef="RKButcher">
                <th mat-header-cell *matHeaderCellDef>RK Butcher</th>
                <td mat-cell *matCellDef="let element">{{element.RKButcher | number : '0.1-8'}}</td>
              </ng-container>

              <ng-container matColumnDef="AdamBashford">
                <th mat-header-cell *matHeaderCellDef>Adam Basfhord</th>
                <td mat-cell *matCellDef="let element">{{element.AdamBashford | number : '0.1-8'}}</td>
              </ng-container>

              <ng-container matColumnDef="AdamMoulton">
                <th mat-header-cell *matHeaderCellDef>Adam/Moulton</th>
                <td mat-cell *matCellDef="let element">{{element.AdamMoulton | number : '0.1-8'}}</td>
              </ng-container>

              <ng-container matColumnDef="AdamBashfordMoulton">
                <th mat-header-cell *matHeaderCellDef>AB/Moulton</th>
                <td mat-cell *matCellDef="let element">{{element.AdamBashfordMoulton | number : '0.1-8'}}</td>
              </ng-container>

              <ng-container matColumnDef="Heyoka">
                <th mat-header-cell *matHeaderCellDef>Heyoka</th>
                <td mat-cell *matCellDef="let element">{{element.Heyoka | number : '0.1-8'}}</td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumnsErrorOrden"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumnsErrorOrden;"></tr>
            </table>
            <br>
            <h2>Tabla del Orden: <ng-katex [equation]="equation[1]" [options]="options"></ng-katex></h2>
            <table mat-table [dataSource]="dtOrden" class="w-100">
              <ng-container matColumnDef="N">
                <th mat-header-cell *matHeaderCellDef>N</th>
                <td mat-cell *matCellDef="let element">{{element.N}}</td>
              </ng-container>

              <ng-container matColumnDef="Euler">
                <th mat-header-cell *matHeaderCellDef>Euler</th>
                <td mat-cell *matCellDef="let element">{{element.Euler | number : '0.1-8'}}</td>
              </ng-container>

              <ng-container matColumnDef="Heun">
                <th mat-header-cell *matHeaderCellDef>Heun</th>
                <td mat-cell *matCellDef="let element">{{element.Heun | number : '0.1-8'}}</td>
              </ng-container>

              <ng-container matColumnDef="Ralston">
                <th mat-header-cell *matHeaderCellDef>Ralston</th>
                <td mat-cell *matCellDef="let element">{{element.Ralston | number : '0.1-8'}}</td>
              </ng-container>

              <ng-container matColumnDef="RungeKutta">
                <th mat-header-cell *matHeaderCellDef>Runge Kutta</th>
                <td mat-cell *matCellDef="let element">{{element.RungeKutta | number : '0.1-8'}}</td>
              </ng-container>

              <ng-container matColumnDef="RKButcher">
                <th mat-header-cell *matHeaderCellDef>RK Butcher</th>
                <td mat-cell *matCellDef="let element">{{element.RKButcher | number : '0.1-8'}}</td>
              </ng-container>

              <ng-container matColumnDef="AdamBashford">
                <th mat-header-cell *matHeaderCellDef>Adam Basfhord</th>
                <td mat-cell *matCellDef="let element">{{element.AdamBashford | number : '0.1-8'}}</td>
              </ng-container>

              <ng-container matColumnDef="AdamMoulton">
                <th mat-header-cell *matHeaderCellDef>Adam/Moulton</th>
                <td mat-cell *matCellDef="let element">{{element.AdamMoulton | number : '0.1-8'}}</td>
              </ng-container>

              <ng-container matColumnDef="AdamBashfordMoulton">
                <th mat-header-cell *matHeaderCellDef>AB/Moulton</th>
                <td mat-cell *matCellDef="let element">{{element.AdamBashfordMoulton | number : '0.1-8'}}</td>
              </ng-container>

              <ng-container matColumnDef="Heyoka">
                <th mat-header-cell *matHeaderCellDef>Heyoka</th>
                <td mat-cell *matCellDef="let element">{{element.Heyoka | number : '0.1-8'}}</td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumnsErrorOrden"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumnsErrorOrden;"></tr>
            </table>
          </div>
        </mat-tab>
        <mat-tab label="Error Absoluto" class="matTabContent" *ngIf="muestraErrorAbsoluto">
          <div class="row" style="height: 175px;">
            <img class="img-fluid" src="assets/images/calculoerror.png" />
          </div>
          <div class="row" class="matTabContent">
            <br>
            <h2>Tabla de Error Absoluto : <ng-katex [equation]="equation[2]" [options]="options"></ng-katex></h2>
            <table mat-table [dataSource]="dtAbError" class="w-100">
              <ng-container matColumnDef="N">
                <th mat-header-cell *matHeaderCellDef>N</th>
                <td mat-cell *matCellDef="let element">{{element.N}}</td>
              </ng-container>

              <ng-container matColumnDef="Euler">
                <th mat-header-cell *matHeaderCellDef>Euler</th>
                <td mat-cell *matCellDef="let element">{{element.Euler | number : '0.1-8'}}</td>
              </ng-container>

              <ng-container matColumnDef="Heun">
                <th mat-header-cell *matHeaderCellDef>Heun</th>
                <td mat-cell *matCellDef="let element">{{element.Heun | number : '0.1-8'}}</td>
              </ng-container>

              <ng-container matColumnDef="Ralston">
                <th mat-header-cell *matHeaderCellDef>Ralston</th>
                <td mat-cell *matCellDef="let element">{{element.Ralston | number : '0.1-8'}}</td>
              </ng-container>

              <ng-container matColumnDef="RungeKutta">
                <th mat-header-cell *matHeaderCellDef>Runge Kutta</th>
                <td mat-cell *matCellDef="let element">{{element.RungeKutta | number : '0.1-8'}}</td>
              </ng-container>

              <ng-container matColumnDef="RKButcher">
                <th mat-header-cell *matHeaderCellDef>RK Butcher</th>
                <td mat-cell *matCellDef="let element">{{element.RKButcher | number : '0.1-8'}}</td>
              </ng-container>

              <ng-container matColumnDef="AdamBashford">
                <th mat-header-cell *matHeaderCellDef>Adam Basfhord</th>
                <td mat-cell *matCellDef="let element">{{element.AdamBashford | number : '0.1-8'}}</td>
              </ng-container>

              <ng-container matColumnDef="AdamMoulton">
                <th mat-header-cell *matHeaderCellDef>Adam/Moulton</th>
                <td mat-cell *matCellDef="let element">{{element.AdamMoulton | number : '0.1-8'}}</td>
              </ng-container>

              <ng-container matColumnDef="AdamBashfordMoulton">
                <th mat-header-cell *matHeaderCellDef>AB/Moulton</th>
                <td mat-cell *matCellDef="let element">{{element.AdamBashfordMoulton | number : '0.1-8'}}</td>
              </ng-container>

              <ng-container matColumnDef="Heyoka">
                <th mat-header-cell *matHeaderCellDef>Heyoka</th>
                <td mat-cell *matCellDef="let element">{{element.Heyoka | number : '0.1-8'}}</td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumnsErrorOrden"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumnsErrorOrden;"></tr>
            </table>
          </div>
        </mat-tab>
        <mat-tab label="Gráficos" class="matTabContent">
          <div class="row" style="height: 175px;">
            <img class="img-fluid" src="assets/images/bannerCharts.png" />
          </div>
          <div class="row" class="matTabContent">
            <div class="flex w-100">
              <div class="flex-item">
                <br>
                <canvas 
                  baseChart #chart width="550px" height="250px"
                  [datasets]="dataSeries"
                  [labels]="lineChartLabels"
                  [options]="lineChartOptions"
                  [colors]="chartColors()" 
                  [legend]="lineChartLegend" 
                  [chartType]="lineChartType" 
                  [plugins]="lineChartPlugins"
                >
                </canvas>
              </div>
            </div>
          </div>
        </mat-tab>
      </mat-tab-group>
    </div>
    
  </div>
  <br>
  <div class="row bg-dark text-light" color="primary">
    <div class="w-50 col-sm-6 col-md-6 ">
      
    </div>
    <div class="w-50 col-sm-6 col-md-6 ">
      Desarrollado por:
      <ul>
        <li>Ignacio Albán Idrovo</li>
        <li>Andrés Sánchez Troncoso</li>
      </ul>
    </div>
  </div>
</div>

<router-outlet></router-outlet>