<h1 mat-dialog-title>Obteniendo Información</h1>
<div mat-dialog-content>
    <p>Procesando la información de los métodos numéricos seleccionados...</p>
    <br>
    
    <label>Espere...</label>
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</div>
<!--<div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">No Thanks</button>
    <button mat-button [mat-dialog-close]="data.color" cdkFocusInitial>Ok</button>
</div>-->
